<ion-view class="bg-singin">
    <ion-content class="bg-singin">
        <div class="row logo">
            <div class="col">
                <img class="img-center" src="img/bg/logo.png" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form class="form-signin">
                    <div class="list">
                        <label class="item item-input input-border-bottom">
                            <input type="text" class="dark-blue" placeholder="Username" ng-model="data.username" value="user">
                        </label>

                        <label class="item item-input input-border-bottom">
                            <input type="password" class="dark-blue" placeholder="Password" ng-model="data.password" value="123">
                        </label>
                        <button type="sumit" class="button button-block btn-signin" ng-click="signin()">
                            Sign In
                        </button>
                        <a class="lost-password">Lost/forgotten password?</a>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>